/* button */
.btn {
  @apply relative text-[0.889rem] text-white font-medium;
  @apply px-1 py-1.5;
  @apply border-[1px] border-solid rounded-[6px];

  &.btn-normal {
    @apply border-primary bg-primary;

    &:not(.btn-disabled) {
      @apply hover:bg-primaryHover hover:border-primaryHover;
      @apply active:bg-primaryActive active:border-primaryActive;
    }

    &.btn-disabled {
      @apply border-gray-300 bg-gray-300 text-gray-400;
    }
  }

  &.btn-plain {
  }

  &.btn-outlined {
  }

  $normal-spinner-size: 20px;
  $small-spinner-size: 10px;
  $large-spinner-size: 30px;

  &.btn-large {
    @apply text-[1rem] px-[1.111rem] py-2;
  }

  &.btn-small {
    @apply text-[0.667rem] px-[0.778rem];
  }

  .btn-spinner {
    top: calc(calc(100% - $normal-spinner-size) / 2);
    left: calc(calc(100% - $normal-spinner-size) / 2);
    height: $normal-spinner-size;
    width: $normal-spinner-size;
    border-radius: 50%;
    @apply absolute border-gray-400 border-2 border-b-gray-300 animate-spin;
  }
}

.icon-btn {
  @apply relative p-1 border-[1px] border-solid rounded-[6px];

  svg {
    @apply text-white;
  }

  &.btn-normal {
    &.default-color {
      @apply border-primary bg-primary;

      &:not(.btn-disabled) {
        @apply hover:bg-primaryHover hover:border-primaryHover;
        @apply active:bg-primaryActive active:border-primaryActive;
      }
    }

    &.btn-disabled {
      @apply border-gray-300 bg-gray-300 text-gray-400;
    }
  }

  &.btn-outlined {
    &.default-color {
      @apply border-primary;

      svg {
        @apply text-primary;
      }

      &:not(.btn-disabled) {
        @apply hover:bg-primaryOpacityHover;
        @apply active:bg-primaryOpacityActive;
      }
    }
  }

  &.btn-plain {
    @apply bg-transparent border-none;

    &.default-color {
      svg {
        @apply text-primary;
      }

      &:not(.btn-disabled) {
        @apply hover:bg-primaryOpacityHover;
        @apply active:bg-primaryOpacityActive;
      }
    }
  }

  &.btn-disabled {
    svg {
      @apply text-gray-200;
    }
  }

  &.btn-large {
    @apply scale-[1.2];
  }

  &.btn-small {
    @apply scale-[0.8];
  }
}

.btn-disabled {
  cursor: auto;
}
