/* grid system */

.grid-sys-row {
  @apply flex flex-wrap;
}

.grid-sys-col {
  @apply p-3;

  @for $i from 1 through 12 {
    &.grid-sys-col-#{$i} {
      flex: calc(100% / 12 * $i) 0 0;
    }
  }
}

@media screen and (min-width: 1281px) {
  @for $i from 1 through 12 {
    .grid-sys-col.grid-sys-col-xl-#{$i} {
      flex: calc(100% / 12 * $i) 0 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  @for $i from 1 through 12 {
    .grid-sys-col.grid-sys-col-lg-#{$i} {
      flex: calc(100% / 12 * $i) 0 0;
    }
  }
}

@media screen and (max-width: 960px) {
  @for $i from 1 through 12 {
    .grid-sys-col.grid-sys-col-md-#{$i} {
      flex: calc(100% / 12 * $i) 0 0;
    }
  }
}

@media screen and (max-width: 640px) {
  @for $i from 1 through 12 {
    .grid-sys-col.grid-sys-col-sm-#{$i} {
      flex: calc(100% / 12 * $i) 0 0;
    }
  }
}

@media screen and (max-width: 475px) {
  @for $i from 1 through 12 {
    .grid-sys-col.grid-sys-col-xs-#{$i} {
      flex: calc(100% / 12 * $i) 0 0;
    }
  }
}
