.tiptap-editor-container {
  @apply border-[1px] border-slate-300 bg-white rounded-md;

  .editor-toolbar {
    @apply flex items-center flex-wrap px-2 py-1 border-b-[1px] border-slate-300 gap-y-2;

    & > .toolbar-group {
      @apply flex items-center gap-x-1 px-1;

      &:not(:last-child) {
        @apply border-r-[1px] border-gray-300;
      }
    }
  }

  .tiptap {
    @apply p-2 outline-none ring-0;
    line-height: 2;
    letter-spacing: 0.1px;

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: revert !important;
      font-weight: revert !important;
    }

    & ol,
    ul {
      list-style: revert !important;
      margin: revert !important;
      padding: revert !important;
    }

    & blockquote {
      margin: revert;
      @apply border-l-[6px] border-secondary-500 pl-2;
    }

    & hr {
      border-color: #d7d7d7;
    }

    & .inline-code {
      background-color: #eaeaea;
      color: #bf2525;
      border-radius: 3px;
      font-family: "Source Code Pro", monospace !important;
    }

    & .post-hyperlink {
      color: #007095;
      text-decoration: none;
      &:hover {
        @apply border-b-2 border-[#007095] cursor-pointer;
      }
    }

    & pre > code {
      display: inline-block;
      padding-left: 0 !important;
      padding-right: 10px !important;
      font-size: 0.889rem !important;
    }

    /* for callout */
    & .post-callout {
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 8px 16px;
      gap: 16px;

      & > .callout-prefix {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        flex: none;
      }

      &.post-callout-primary {
        border: 1px solid #7595bb;
        background-color: #cfd9e8;

        & > .callout-prefix {
          filter: invert(46%) sepia(9%) saturate(2278%) hue-rotate(172deg) brightness(95%) contrast(83%);
          background-image: url("/src/assets/alert-circle-outline.svg");
        }
      }

      &.post-callout-secondary {
        border: 1px solid #98c1d9;
        background-color: #e8eff6;

        & > .callout-prefix {
          filter: invert(64%) sepia(18%) saturate(788%) hue-rotate(157deg) brightness(93%) contrast(97%);
          background-image: url("/src/assets/alert-circle-outline.svg");
        }
      }

      &.post-callout-accent {
        border: 1px solid #f0ac81;
        background-color: #fbe8d9;

        & > .callout-prefix {
          filter: invert(73%) sepia(36%) saturate(4728%) hue-rotate(327deg) brightness(98%) contrast(86%);
          background-image: url("/src/assets/alert-circle-outline.svg");
        }
      }

      &.post-callout-success {
        border: 1px solid #6bbd6e;
        background-color: #e3f5e3;

        & > .callout-prefix {
          filter: invert(73%) sepia(12%) saturate(1545%) hue-rotate(72deg) brightness(90%) contrast(88%);
          background-image: url("/src/assets/alert-circle-outline.svg");
        }
      }

      &.post-callout-error {
        border: 1px solid #ffa0a0;
        background-color: #ffe1e1;

        & > .callout-prefix {
          filter: invert(47%) sepia(67%) saturate(4201%) hue-rotate(332deg) brightness(112%) contrast(108%);
          background-image: url("/src/assets/alert-circle-outline.svg");
        }
      }
    }

    & .post-table {
      border-collapse: collapse;
      display: block;
      max-width: -moz-fit-content;
      max-width: fit-content;
      overflow-x: auto;
      white-space: nowrap;
      margin: 10px auto 0 auto;

      & th,
      & tr,
      & td {
        text-align: left;
        vertical-align: middle;
      }

      & th,
      & td {
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
      }

      & th {
        background-color: #353535;
        color: white;
      }

      & tr {
        &:nth-child(2n + 3) {
          background-color: #ececec;
        }

        &:first-child > td {
          border-top: 1px solid lightgrey;
        }
      }

      .selectedCell {
        background-color: #e8e8e8 !important;
        color: black;
      }
    }
  }
}
